.main-header {
    .navigational-part {
        padding: 11px 50px 13px;
        background-color: $secondary-color;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-right-side {
        display: flex;
        align-items: center;
    }

    h1 {
        text-align: center;
        margin: 0;

        a, img {
            display: block;
        }
    }

    .promotional-part {
        border: none;
        border-radius: 0;
        margin: 0;

        .slide {
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            padding: 208px 0 0;
            text-align: center;
        }

        .first-slide {
            background-image: url('../img/discover-background.png');
        }

        .second-slide {
            background-image: url('../img/a_dog.jpg');
        }

        .third-slide {
            background-image: url('../img/a_cat.jpg');
        }

        p {
            margin: 0;

            &:nth-of-type(1) {
                font-family: $secondary-font-face;
                font-size: 116px;
                font-weight: bold;
                text-transform: uppercase;
                color: $secondary-color;
                margin-bottom: 5px;
            }

            &:nth-of-type(2) {
                font-family: $third-font-face;
                font-size: 80px;
                color: $third-color;
            }
        }

        .alternative-btn {
            margin: 90px auto 174px;
        }
    }
}