.section-heading {
    margin: 0;

    span {
        display: block;
        letter-spacing: 3.2px;
        font-size: 32px;

        &:first-of-type {
            font-family: $secondary-font-face;
            color: $third-color;
            text-transform: uppercase;
            margin-bottom: 5px;
        }

        &:last-of-type {
            font-family: $third-font-face;
            color: $secondary-color;
        }
    }
}