$main-font-face: 'Droid Sans', sans-serif;
$secondary-font-face: 'Oswald', sans-serif;
$third-font-face: 'Great Vibes', cursive;
$main-color: #ffffff;
$secondary-color: #f50000;
$third-color: #333333;
$content-main-width: 1170px;
$left-section-width: 770px / $content-main-width * 100%;
$right-section-width: 370px / $content-main-width * 100%;
$max-form-width: 530px;